<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  TO: GopinathReddy_P;Sridevi_Srirangan;Soumya_Ramanathan;GLNRao;Srinivas_Manjunath;Manish_Mishra;Patel_Jignesh;Vijay_Nukala
  -->
<configuration>
  <appSettings>
    <add key="LoggerLocation" value="D:\Production_Deploy\BECodeProd\BECodeProd\AppLogger"/>
    <add key="LoggerLocation1" value="D:\prodbe\BECodeProd\AppLogger"/>
    <add key="DemandCaptureConnectionString" value="Data Source=nebula\mssqlserver1;Initial Catalog=EAS_Prod;Persist Security Info=True;User ID=nebula_sql;Password=python@123"/>
    <add key="Mailer" value="Data Source=nebula\mssqlserver1;Initial Catalog=msdb;Persist Security Info=True;User ID=sa;Password=Infy123+"/>
    <add key="Host" value="BLRKECSMTP01"/>
    <add key="EnableSsl" value="false"/>
    <add key="UserName" value="Nebula@infosys.com"/>
    <add key="Password" value="Infy123+"/>
    <add key="Port" value="25"/>
	 <add key="TO" value="GopinathReddy_P;Sridevi_Srirangan;Soumya_Ramanathan;GLNRao;Srinivas_Manjunath;Manish_Mishra;Patel_Jignesh;Vijay_Nukala"/>
	  <add key="BCC" value="Murugaraj.K;manasa.vemuri01;sagar.kumar07;arpan.saha01;rushikesh.warke"/>
  </appSettings>
  
<!--
    <add key="TO" value="GopinathReddy_P;Sridevi_Srirangan;Soumya_Ramanathan;GLNRao;Srinivas_Manjunath;Manish_Mishra;Patel_Jignesh;Vijay_Nukala"/>
	  <add key="BCC" value="Murugaraj.K;tharugu.niveditha;manasa.vemuri01;sagar.kumar07;arpan.saha01;rushikesh.warke"/>
-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"/>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="2000000"/>
  </system.web>
  <system.web>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="mailer.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>